* {
  box-sizing: border-box;
  /* margin: 0; */
}

body {
  background: #FCEBB6 url("../images/background.gif");
  color: #221811;
  font-family: Verdana, Arial, sans-serif;
}

h1 {
  font-size: 3em;
  padding-top: 220px;
  padding-top: 45px;
  text-align: center;
}

nav {
  font-weight: bold;
  font-size: 1.5em;
  padding-top: 10px;
  text-align: center;
}

nav a {
  text-decoration: none;
}

footer {
  background: #D2B48C;
  font-size: .6em;
  font-style: italic;
  text-align: center;
  padding-bottom: 10px;
  border-top: 2px solid #221811;
  display: block;
}

header {
  background: #D2B48C url("../images/javajamlogo.jpg") no-repeat;
  height: 150px;
  display: block;
}

h4 {
  background-color: #D2B48C;
  font-size: 1.2em;
  padding-left: .5em;
  padding-bottom: .25em;
  text-transform: uppercase;
  clear: left;
}

main {
  padding: 0 2em 2em 2em;
  display: block;
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
  margin-left: 200px;
  background: #FEF6C2;
  border-bottom: 1px solid #000;
  padding-bottom: 0;
  display: block;
}

main h2, main h3, main h4, main p, main div, main ul, main dl {
  padding-left: 3em;
  padding-right: 2em;
}

nav {
  float: left;
  width: 200px;
  display: block;
}

nav a:link {
  color: #FEF6C2;
}

nav a:visited {
  color: #D2B48C;
}

nav a:hover {
  color: #CC9933;
}

nav ul {
  list-style-type: none;
  padding-left: 0;
}

.details {
  padding: 0 20%;
  overflow: auto;
}

img {
  padding: 0 10px;
}

#wrapper {
  background: #231814;
  min-width: 900px;
  max-width: 1280px;
  box-shadow: 10px 4px 4px black;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#heroroad {
  background-image: url("../images/heroroad.jpg");
  background-size: 100% 100%;
  height: 250px;
}

#heromugs {
  background-image: url("../images/heromugs.jpg");
  background-size: 100% 100%;
  height: 250px;
}

#heroguitar {
  background-image: url("../images/heroguitar.jpg");
  background-size: 100% 100%;
  height: 250px;
}

.floatLeft {
  float: left;
  padding-right: 2em;
  padding-bottom: 2em;
}

#mobile {
  display: none;
}

#desktop {
  display: inline;
}

table {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-spacing: 0;
  background-color: inherit;
}

td, th {
  padding: 10px;
}

tr:nth-of-type(2n + 1) {
  background-color: #D2B48E;
}

form {
  padding: 2em;
}

label {
  float: left;
  display: block;
  text-align: right;
  width: 8em;
  padding-right: 1em;
}

input, textarea {
  display: block;
  margin-bottom: 1em;
}

#mySubmit {
  margin-left: 9.5em;
}

#herojobs {
  background: url(../images/herojobs.jpg) 100% 100%;
  height: 250px;
}

audio {
  display: block;
  margin-top: 1em;
}

@media only screen and (max-width: 1024px) {
  body {
    margin 0;
    background-image: none;
  }

  #wrapper {
    width: auto;
    min-width: 0;
    margin: 0;
    padding: 0;
    box-shadow: none;
  }

  header {
    border: 5px solid #FEF6C2;
  }

  h1 {
    margin-top: 0;
    margin-bottom: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: 2em;
  }

  nav {
    float: none;
    width: auto;
    padding-top: 0;
    margin: 10px;
    font-size: 1em;
  }

  nav li {
    display: inline-block;
  }

  nav a {
    padding: 1em;
    width: 8em;
    font-weight: bold border: none;
  }

  nav ul {
    padding: 0;
    margin: 0;
  }

  #heroroad, #heromugs, #heroguitar {
    margin: 0;
    padding: 0;
  }

  main {
    margin: 0;
    font-size: 90%;
  }
}

@media only screen and (max-width: 768px) {
  body {
    margin: 0;
  }
  header {
    background-image: url(../images/javajammini.jpg);
    height: 128px;
    border-style: none;
  }

  h1 {
    font-size: 2em;
    text-align: center;
    padding-left: 0;
  }

  nav {
    margin: 0;
  }

  nav a {
    display: block;
    padding: 0.2em;
    width: auto;
    border: 1px solid #FEF6C2;
  }

  nav li {
    display: block;
  }

  main {
    padding-top: 1px;
  }

  h2 {
    padding: 0.5em 0 0 0.5em;
    margin-right: 0.5em;
  }

  .details {
    padding-left: 0;
    padding-right: 0;
  }

  #heroroad, #heromugs, #heroguitar {
    background-image: none;
    height: auto;
  }

  .floatLeft {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  #mobile {
    display: inline;
  }

  #desktop, #herojobs {
    display: none;
  }
}
